* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 18px;
}

input {
  margin-right: 8px;
}

h4 {
  margin: 12px 0 4px;
}

.popup {
  width: 300px;
  margin: 12px;
  color: #333;
}

.popup--error {
  padding: 12px;
  border: 1px solid #EB4962;
  background: #EB49620D;
  color: #EB4962;
  border-radius: 4px;
}

.popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;;
}

.popup-description {
  margin: 8px 0;
  color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-content {
  margin-top: 12px;
  font-size: 14px;
}

.popup-content-section {
  margin-top: 16px;
}

.popup-listType {
  margin: 4px 0;
  display: flex;
  align-items: center;
}

.popup-pageTypes {
  display: flex;
  flex-wrap: wrap;
}

.popup-pageTypes-type {
  margin: 4px 0;
  width: 50%;
  display: flex;
}

.popup-disabled {
  font-size: 14px;
  color: #666;
  font-style: italic;
  text-align: center;
  margin: 24px 0 32px;
}

.popup-error {
  font-size: 14px;
  line-height: 1.5em;
}

.popup-error-note {
  font-style: italic;
}

.popup-error-buttonContainer {
  text-align: center;
}